<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://localhost:3000" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Smart contract</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./scripts/web3.js"></script>
    <script src="./process.js"></script>
    <style>
        .parent {
            width: 24vh;
            height: 24vh;
            max-width: 100%;
            max-height: 100%;
            min-width: 130px;
            min-height: 130px;
            background: rgb(246, 255, 240);
            position: relative;
            margin: auto;
        }

        .image1 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
        }

        .image2 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 2;
        }

        .image3 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 3;
        }

        .checkboxBackground{
            position: absolute;
            top: 10%;
            right: 20%;
            z-index: 99;
        }
        .checkboxHead{
            position: absolute;
            top: 10%;
            right: 20%;
            z-index: 99;
        }
        .checkboxBody{
            position: absolute;
            top: 10%;
            right: 20%;
            z-index: 99;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <h1 style="width: 100%; text-align: center; color: red;">ĐĂNG KÝ HỌC</h1>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <label>Họ tên: </label>
                <input id="txtHoTen" class="form-control" type="text" placeholder="Nhập họ và tên">
            </div>
            <div class="col">
                <label>Email: </label>
                <input id="txtEmail" class="form-control" type="email" placeholder="Nhập Email">
            </div>

            <div class="col">
                <label>Số điện thoại: </label>
                <input id="txtSoDT" class="form-control" type="text" placeholder="Nhập số điện thoại">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2">
                <button class="btn btn-success" id="btnBackground" style="width: 90%; height: 60pxp;">Khung nền</button>
                <button class="btn btn-success" id="btnHead" style="width: 90%; height: 60pxp; margin-top: 10px">Phần
                    đầu</button>
                <button class="btn btn-success" id="btnBody" style="width: 90%; height: 60pxp; margin-top: 10px">Phần
                    thân</button>
            </div>
            <div class="col border" >
                <div class="row" id="listPic">
                    
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="parent">
                    <img class="image1" id="imgRanBackground" width="100%" height="100%"
                        src="https://lh3.googleusercontent.com/pw/AM-JKLUdJqkAwZ9KNhnEG5Ka9w3rT-hKPE9ZiATpn9VcABWSEFyvQcjzqTaQkphuntVvpfKkWqt3ENq491zr0hjkBpQ2yn44ih4fEja-YLXlitYlYUsVx1R5J1KvnWviJF-cFnql21JphcF8Y2-JFsvJJMX9=s500-no?authuser=0">
                    <img class="image2" id="imgRanHead" width="100%" height="100%"
                        src="https://lh3.googleusercontent.com/pw/AM-JKLWD9WPOSj39d9lbYAb48jBrtvjzT1Fk0KPe80KbyPawVpIAADB4krppX-bOGVJYGu6u85PFvMIu0rbSVQ0hOi8MXdwLzNpBHUxpEesfPqxZrZW9Dhut7D9HtiIDpWu-mzIB1rnB60-eMEmvVNF7d5SO=s500-no?authuser=0">
                    <img class="image3" id="imgRanBody" width="100%" height="100%"
                        src="https://lh3.googleusercontent.com/pw/AM-JKLW3pgVOp6txNRQBSSWrHAeTCjAESp-_CHOTmaFdafXi5jsouDu4mNrB4yJ4-pXhWwzCOJV_W0HvLsjgPR5cCfVHCYfIMkvrtKOGAbC8u0BPz1zN_51kXszDMKskkesDWLEpfyReiGYUSyakM67iJJhR=s500-no?authuser=0">
                </div>
                <button id="btnRanImg" class="btn btn-secondary" style="width: 90%;">Đổi avatar</button>
            </div>

            <div class="col-2 text-center">

                <button id="connectMM" class="btn btn-info" style="width: 90%; height: 60px; margin-top: 10px;">Đăng
                    nhập MetaMask</button>
                <button id="btnDangKy" class="btn btn-info" style="width: 90%; height: 60px; margin-top: 10px;">Đăng
                    ký</button>
            </div>
        </div>

        <hr>
        <div class="row">
            <h5 style="width: 100%; text-align: center; margin-top: 10px; color: blue;">Danh sách học sinh đã đăng
                ký thành công!</h5>
            <div class="card-deck" id="danhsach" style="margin-top: 10px; ">


            </div>
        </div>
    </div>

</body>

</html>